numpy
langgraph
langchain
langchain-community
langchain-google-genai
torch
torchaudio
git+https://github.com/facebookresearch/audiocraft.git
transformers
accelerate
sentencepiece
huggingface_hub
google-generativeai
librosa
soundfile
streamlit
python-dotenv