numpy
langgraph
langchain
langchain-community
langchain-google-genai
torch
torchaudio
audiocraft==1.3.0
transformers
accelerate
sentencepiece
huggingface_hub
google-generativeai
librosa
soundfile
streamlit
python-dotenv